* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    font-family: "Open Sans", sans-serif;
}
#container {
    width: 100%;
    margin: 10% 0;
    text-align: center;
    border: 0 solid #f4f4f4;
}
#random {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 70px;
    height: 70px;
    background-color: rgba(200, 200, 200, 0.4);
    box-shadow: 3px 3px 0 0 rgba(10, 10, 10, 0.4);
    border: none;
    outline: none;
    border-radius: 50%;
    color: #222;
    font-size: 1.2em;
    font-family: inherit;
    transition: 0.2s;
}
#random:hover {
    box-shadow: 1px 1px 0 0 rgba(10, 10, 10, 0.3);
    background-color: rgba(200, 200, 200, 0.8);
}
#random:focus {
    color: #0a1dad;
}
#picker {
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
}
#color {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 115px;
    padding-top: 85px;
    background: #ddd;
    border: 8px solid #f4f4f4;
    border-color: inherit;
    border-radius: 50%;
    box-shadow: 5px 5px 0 3px rgba(10, 10, 10, 0.2);
    font-size: 1.5em;
    text-align: center;
}
#color.light.
#scheme.light .color {
    color: #222;
}
#color.dark,
#scheme.dark .color {
    color: #ccc;
}
#color::before,
#scheme .color::before {
    content: "#";
}
#scheme {
    position: absolute;
    top: 15%;
    right: 8%;
    border: 0 solid #f4f4f4;
    border-color: inherit;
}
#scheme .color {
    width: 100px;
    height: 60px;
    padding-top: 40px;
    background: #ddd;
    border: 4px solid #f4f4f4;
    border-color: inherit;
    border-radius: 50%;
    box-shadow: 3px 3px 0 2px rgba(10, 10, 10, 0.2);
    font-size: 1.2em;
    text-align: center;
    margin: 15px 0;
}
#picker input {
    outline: 0;
}
#picker input[type=range] {
    -webkit-appearance: none;
    margin: 10px;
    width: 410px;
    height: 22px;
    background-color: #888;
    border-radius: 11px;
}
#hue {
    background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
#saturation {
    background: linear-gradient(to right, hsl(180, 0%, 50%), hsl(180, 100%, 50%));
}
#lightness {
    background: linear-gradient(to right, hsl(180, 100%, 0%), hsl(180, 100%, 50%), hsl(180, 100%, 100%));
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 5px solid rgba(10, 10, 10, 0.7);
    border-radius: 50%;
    transition: 0.2s;
}
::-webkit-slider-thumb:hover {
    border: 5px solid #111;
}
#picker input[type=number] {
    width: 30px;
    padding: 3px 7px;
    background-color: transparent;
    border: 0;
    font-size: 1.3em;
    font-family: inherit;
}
#picker input[type=number]::-webkit-inner-spin-button,
#picker input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.light #picker input[type=number] {
    color: #111;
}
.dark #picker input[type=number] {
    color: #ccc;
}
