* {
    margin: 0;
    padding: 0;
}
body {
    background: #f4f4f4;
}
#container {
    width: 100%;
    margin: 10% 0;
    text-align: center;
}
#random {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #999;
    transition: 0.2s;
    border: 8px solid #999;
} #random:hover {
    background-color: #555;
}
#picker {
    vertical-align: middle;
    display: inline-block;
    padding: 5%;
}
#color {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    padding: 5%;
    background: #ddd;
    border: 8px solid #f4f4f4;
    box-shadow: 5px 5px 0 3px #ccc;
    position: relative;
}
#color::after {
    position: absolute;
    text-align: center;
    bottom: -20%;
    left: 40%;
    font-family: "Open Sans";
    font-size: 1.5em;
    content: attr(data-color);
}
#picker input {
    outline: 0;
}
#picker input[type=range] {
    width: 410px;
    height: 22px;
    margin: 10px;
    border-radius: 11px;
    -webkit-appearance: none;
    background-color: #888;
}
#hue {
    background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
#saturation {
    background: linear-gradient(to right, hsl(180,0%,50%), hsl(180,100%,50%));
}
#lightness {
    background: linear-gradient(to right, hsl(180,100%,0%), hsl(180,100%,50%), hsl(180,100%,100%));
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 5px solid rgba(10,10,10,0.7);
    border-radius: 50%;
}

#picker input[type=number] {
    width: 30px;
    padding: 3px 7px;
    background-color: transparent;
    border: 0;
    font-size: 1.3em;
    /*border-radius: 5px;*/
    font-family: "Open Sans";
}

#picker input[type=number]::-webkit-inner-spin-button,
#picker input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
